.btn {
    width: 100%;
    display: block;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 00.75rem 1.5rem;
    border-radius: 4px;
    border: 1px red solid;
}

.btn:hover {
    color: white;
    transition: 0.25s;
    text-decoration: none;
    background-color: red;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
}